table {
    width: 30%;  
}

table, td {
    border: 2px solid black;
}

.view-btn {
    background-color: rgb(38, 124, 182);
    color: white;
}

.delete-btn {
    background-color: rgb(255, 238, 0);
    color: white;
}

.update-btn {
    background-color: tomato;
    color: white;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.details {
    width: 30%;
}