nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3rem;
    background: black;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}