.add-task-container {
    border: 2px solid black;
    height: 48.2vh;
    margin: 1rem;
    width: 20%;
    color: black;
}

.add-task-container h3 {
    background-color: #282c34;
    color: white;
    margin: 0;
}

.form-div {
    display: flex;
    flex-direction: column;
}

.form-div input,
.form-div select,
.form-div button {
    margin: 1rem 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
    height: 1.6rem;
}

.form-div button {
    background-color: #282c34;
    color: white;
}